apiVersion: v1
kind: Pod
metadata:
  name: cockroachdb-{{ inter_name }}
  labels:
    app: cockroachdb
spec:
  nodeName: {{ inter_name }}
  restartPolicy: Always
  containers:
  - name: cockroachdb
    image: cockroachdb/cockroach
    imagePullPolicy: IfNotPresent
    ports:
    - containerPort: 26257
      hostPort: 26257
      name: grpc
    - containerPort: 8080
      hostPort: 8090
      name: http
    volumeMounts:
    - name: datadir
      mountPath: /cockroach/cockroach-data
    command:
      - "/bin/bash"
      - "-ecx"
      - |
        CRARGS=("start" "--logtostderr" "--insecure" "--http-host")
        CRARGS+=("0.0.0.0" "--advertise-host" "{{ public_ip }}")
        CRARGS+=("--locality" "cloud={{ env }}")
        exec /cockroach/cockroach ${CRARGS[*]}
  - name: loadgen
    image: cockroachdb/interop-demo:1.1
    imagePullPolicy: IfNotPresent
    command:
    - /kv
    - --splits=100
    - --read-percent=50
    - --max-rate=500
  terminationGracePeriodSeconds: 30
  volumes:
  - name: datadir
    hostPath:
      path: /storage/cockroachdb
