---
- name: Destroy an OpenStack virtual machine
  os_server:
    state: "absent"
    auth: "{{ auth }}"
    region_name: "{{ app_env.region_name }}"
    availability_zone: "{{ app_env.availability_zone }}"
    validate_certs: "{{ app_env.validate_certs }}"
    name: "{{ inventory_hostname }}"
    image: "{{ app_env.image_name }}"
    timeout: 200
    network: "{{ app_env.private_net_name }}"
    meta:
      hostname: "{{ inventory_hostname }}"
