---
horizon_url: "https://salesdemo-sjc.openstack.blueboxgrid.com"

auth: {
  auth_url: "https://salesdemo-sjc.openstack.blueboxgrid.com:5000/v2.0",
  username: "litong01",
  password: "{{ password }}",
  project_name: "Interop"
}

app_env: {
  target_os: "ubuntu",
  ssh_user: "ubuntu",
  image_name: "Ubuntu 16.04",
  region_name: "",
  availability_zone: "",
  validate_certs: False,
  private_net_name: "demonet",
  flavor_name: "m1.small",
  public_key_file: "/home/ubuntu/.ssh/interop.pub",
  stack_size: 4,
  volume_size: 4,
  block_device_name: "/dev/vdb",

  # The following section shows how to pre allocate floating IPs for each
  # server. If you wish not to do that, leave them empty.
  ips: {
    apache-1: [],
    apache-2: [],
    balancer: [],
    database: []
  },

  wp_latest: "http://10.0.10.41/lampstack/wordpress-4.6.1.tar.gz",
  wp_importer: "http://10.0.10.41/lampstack/wordpress-importer.0.6.3.zip"
}
