[Unit]
Description=etcd

[Service]
Type=notify
ExecStart=/usr/bin/etcd \
  --advertise-client-urls=http://{{ private_ip }}:2379 \
  --listen-client-urls=http://{{ private_ip }}:2379
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target