LOCAL_IP = "{{ ansible_host }}"
STATIC_DIR = "/usr/share/clearwater/ellis/web-content"
LOGS_DIR = "/var/log/ellis"
PID_FILE = "/var/run/ellis/ellis.pid"
SIP_DIGEST_REALM = "example.com"
HOMESTEAD_URL = "hs.example.com"
XDM_URL = "homer.example.com"
SMTP_SMARTHOST = "smtp.example.com"
SMTP_PORT = 25
SMTP_USERNAME = ""
SMTP_PASSWORD = ""
SMTP_USE_TLS = True
EMAIL_RECOVERY_SENDER = "cw-admin@example.com"
SIGNUP_CODE = ""
COOKIE_SECRET = ""
API_KEY = ""
